@model Library.Common.Book

<form method="post" asp-action="Update">
    <input hidden asp-for="BookId" />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3"> Edit Book</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="BookName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="PublisherName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="PublishedDate"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="BookName" class="form-control" />
                        <span asp-validation-for="BookName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="PublisherName" class="form-control" />
                        <span asp-validation-for="PublisherName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="PublishedDate" class="form-control datepicker" />
                        <span asp-validation-for="PublishedDate" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="AutherName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Version"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="BookPrice"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="AutherName" class="form-control" />
                        <span asp-validation-for="AutherName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Version" class="form-control" />
                        <span asp-validation-for="Version" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="BookPrice" class="form-control" />
                        <span asp-validation-for="BookPrice" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input type="submit" class="btn btn-info" value="Update" /> <a asp-action="Index" class="btn btn-danger">Back</a>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}